@model System.Collections.Generic.Dictionary<string,object>
@{
    ViewBag.Title = "Панель управления пользователя";
}
<h2>Панель управления пользователя</h2>

<table class="table">
    @foreach (var pair in Model)
    {
        <tr>

            <td>@pair.Key</td>
            <td>@pair.Value</td>
        </tr>
    }
</table>
@Html.ActionLink("Выйти", "Logout", "Account", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Редактировать", "Edit", "Account", null, new { @class = "btn btn-primary" })
@using (Html.BeginForm("Delete","Account",FormMethod.Post))
{
    <button type="submit" class="btn btn-primary" >Удалить</button>
}
