@using SciBuy.Controllers
@using System.Linq
@using SciBuy.Models
@model AppUser

@{ ViewBag.Title = "Пользовательские свойства"; }

<div class="panel panel-primary">
    <div class="panel-heading">
        Пользовательские свойства
    </div>
</div>