<footer id="">
    <div class="footer_header d-flex justify-content-center align-items-center">
        <span>SciBuy</span>
    </div>
    <div class="container">
        <div class="row">
            <div class="footer_content col-md-12 d-flex justify-content-center">
                <div class="footer_items col-md-3">
                    <div class="footer_titles">
                        <span>О проекте</span>
                    </div>
                    <div class="footer_border">
                        <a href="#">Описание</a>
                        <a href="#">Контакты</a>
                        <a href="#">Пользовательское соглашение</a>
                    </div>
                </div>
                <div class="footer_items col-md-3">
                    <div class="footer_titles">
                        <span>Помощь</span>
                    </div>
                    <div class="footer_border">
                        <a href="#">Правила сервиса</a>
                        <a href="#">Вопрос - Ответ</a>
                        <a href="#">Служба поддержки</a>
                    </div>
                </div>
                <div class="footer_items col-md-3">
                    <div class="footer_titles">
                        <span>Полезное</span>
                    </div>
                    <div class="footer_border">
                        <a href="#">Автор</a>
                        <a href="#">Категории</a>
                        <a href="#">Партнерская программа</a>
                    </div>
                </div>
                <div class="footer_items col-md-3">
                    <div class="footer_titles">
                        <span>Сообщество</span>
                    </div>
                    <div class="footer_border">
                        <a href="#">ВКонтакте</a>
                        <a href="#">Facebook</a>
                        <a href="#">Twitter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
